timescale_stridetastic/
__pycache__/
*/__pycache__/
**/__pycache__/
.venv/
.env
.pytest_cache/
*/.pytest_cache/
**/.pytest_cache/
.vscode/
.ruff_cache/
*/.ruff_cache/
**/.ruff_cache/

api_stridetastic/captures/
api_stridetastic/captures/